.flex {
  display: flex;
  justify-content: var(--justify, space-between);
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(32px, 8vw) 1fr minmax(32px, 8vw);

  > * {
    grid-column: 2 / 3;
  }
}

.header {
  grid-area: 2 / 2 / 3 / 3;

  &_background {
    grid-area: 2 / 2 / 3 / 4;
    z-index: -1;
    justify-self: end;

    margin-top: 50px;
  }
}

.tablist-section {
  grid-area: 3 / 2 / 4 / 3;
}

.tab-pane_background {
  grid-area: 3 / 1 / 4 / 4;
  z-index: -1;

  margin-top: 230px;
}
