@include mq($bp-lg) {
  // Taypography:
  :root {
    --fs-400: 1rem;
    --fs-800: 1.8rem;
    --fs-900: 2.7rem;
  }

  // Layout:
  .flow {
    --flow-gap: 1.25rem;
  }
  .grid-container {
    max-width: 1440px;
    margin-inline: auto;

    grid-template-columns: minmax(32px, 1fr) minmax(735px, 1110px) minmax(
        32px,
        1fr
      );
    justify-items: center;
  }

  .header {
    grid-area: 2 / 2 / 3 / 4;
  }

  .contact-us {
    grid-column: 1 / 4;
  }

  // Components
  .main-nav {
    margin-top: 1rem;

    label {
      display: none;
    }

    &_list {
      display: block;

      .flex {
        display: none;
      }

      nav {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
      }
    }

    &_link {
      padding: 0;
      border: 0;
      font-size: var(--btn-fs);
      letter-spacing: 1.5px;
      color: $Very-Dark-Blue;

      &:first-child {
        border: 0;
      }

      &:last-of-type {
        border: 0;
        padding: 0.5rem 1.75rem;
        margin: 0;

        background-color: $Soft-Red;
      }
    }

    &_social {
      display: none;
    }
  }

  .header {
    display: flex;
    align-items: center;

    &_img {
      order: 1;

      width: 100%;
      margin: 0;

      img {
        margin-left: auto;
        margin-right: min(50px, 3vw);
      }
    }

    &_content {
      margin-top: 2rem;
      text-align: left;

      .flex {
        --justify: start;
      }
    }

    &_background {
      margin-top: auto;
    }
  }

  .bg-box {
    height: 350px;
    width: 530px;
  }

  .cards {
    &_container {
      --direction: row;
      --align: start;
    }

    $m-top: 1rem;

    .card:nth-child(2) {
      margin-top: 2 * $m-top;
    }

    .card:last-of-type {
      margin-top: 4 * $m-top;
    }
  }

  .tablist {
    &-section {
      width: 100%;
    }

    text-align: center;

    label {
      display: inline-block;
      padding-inline: 3rem;
    }

    input[id$='1']:checked {
      ~ #tab-1-pane {
        display: flex;
      }
    }

    input[id$='2']:checked {
      ~ #tab-2-pane {
        display: flex;
      }
    }

    input[id$='3']:checked {
      ~ #tab-3-pane {
        display: flex;
      }
    }

    .tab-pane {
      justify-content: space-between;
      align-items: center;
      min-height: 500px;
      text-align: left;

      &_text {
        max-width: 45ch;
      }
    }

    &_background {
      justify-self: start;
      align-self: end;
      margin-top: 0;
    }
  }

  .contact-us {
    --direction: row;
    --align: center;
    width: 100%;

    background-color: $Soft-Blue;

    &_container {
      width: 40ch;
      margin-inline: auto;
    }

    input {
      width: 70%;
    }

    button {
      width: 30%;
    }
  }

  .footer {
    --direction: row;
  }
}
