@include mq($bp-lg) {
  // Layout:
  .grid-container {
    max-width: 1440px;
    margin-inline: auto;

    grid-template-columns: minmax(32px, 1fr) minmax(735px, 1110px) minmax(
        32px,
        1fr
      );
    justify-items: center;
  }

  .header {
    grid-area: 2 / 2 / 3 / 4;
  }

  // Components
  .main-nav {
    label {
      display: none;
    }

    &_list {
      display: block;

      .flex {
        display: none;
      }

      nav {
        flex-direction: row;
        gap: 1rem;
      }
    }

    &_social {
      display: none;
    }
  }

  .header {
    display: flex;

    &_img {
      order: 1;

      width: 100%;
      margin: 0;

      img {
        margin-left: auto;
        margin-right: min(50px, 3vw);
      }
    }

    &_content {
      margin-top: 85px;

      .flex {
        --justify: start;
      }
    }

    &_background {
      height: 350px;
      width: 530px;
      margin-top: auto;
    }
  }

  .center-content {
    margin-inline: auto;
    max-width: 53ch;

    text-align: center;
  }

  .cards {
    &_container {
      --direction: row;
    }
  }
}
