@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --fs-400: 0.85rem;
  --fs-500: 0.9rem;
  --fs-600: 1.1rem;
  --fs-800: 1.3rem;
  --fs-900: 1.65rem;

  --btn-fs: 0.785rem;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  color: $Grayish-Blue;
}

body {
  font-size: var(--fs-400);
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: $Very-Dark-Blue;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-900);
}

h2,
h3 {
  font-size: var(--fs-800);
}

// Utility
.text-center {
  text-align: center;
}
