.accordion {
  margin: 2.5rem 0 3rem;

  // accordion container
  &-content {
    padding-bottom: 6.5rem;
  }

  // button after accordion
  &-content {
    > button {
      display: block;
      margin-inline: auto;
    }
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-block: 1rem;
    border-bottom: 1px solid $Grayish-Blue-300;

    color: $Very-Dark-Blue;

    img,
    svg {
      cursor: pointer;
    }
  }

  label[for*='close'] {
    display: none;

    svg {
      path {
        stroke: red;
      }
    }
  }

  input[type='radio']:checked {
    & + label + label + .accordion_collapse {
      display: block;

      animation: 1s slidein;
    }

    & + label {
      display: none;
    }

    & + label + label {
      display: flex;
      margin-bottom: 1rem;
      border: none;

      svg {
        animation: 0.5s rotate;
        transform: rotate(180deg);
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
    }
    @keyframes slidein {
      from {
        height: 0;
        opacity: 0;
      }
      30% {
        height: fit-content;
        opacity: 0.1;
      }
      to {
        opacity: 1;
      }
    }
  }

  &_collapse,
  input[type='radio'] {
    display: none;
    padding-bottom: 2rem;
    border-bottom: 1px solid $Grayish-Blue-300;

    p {
      line-height: 1.95;
    }
  }
}
