.bg-box {
  width: min(300px, 90%);
  height: 200px;

  background-color: $Soft-Blue;

  &--rounded-left {
    border-bottom-left-radius: 100vmax;
    border-top-left-radius: 100vmax;
  }

  &--rounded-right {
    border-bottom-right-radius: 100vmax;
    border-top-right-radius: 100vmax;
  }
}

.header {
  &_img {
    width: 112%;
    margin-left: -6%;
  }

  &_content {
    text-align: center;
  }

  &_background {
    margin-top: 50px;
  }
}

.cards {
  &_container {
    --direction: column;
  }
}

.card {
  width: 100%;
  padding-block: 1rem;

  text-align: center;

  box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.2);

  img[src*='logo'] {
    margin-inline: auto;
  }

  img[src*='dots'] {
    width: 100%;
    margin-block: 1rem;
  }
}

.center-content {
  margin-inline: auto;
  max-width: 53ch;
}

.contact-us {
  --direction: column;
  --align: stretch;

  width: 100%;

  text-align: center;

  background-color: $Soft-Blue;
}
