.bg-box {
  width: min(300px, 90%);
  height: 200px;

  background-color: blue;

  &--rounded-left {
    border-bottom-left-radius: 100vmax;
    border-top-left-radius: 100vmax;
  }

  &--rounded-right {
    border-bottom-right-radius: 100vmax;
    border-top-right-radius: 100vmax;
  }
}

.header {
  &_img {
    width: 112%;
    margin-left: -6%;
  }

  &_background {
    margin-top: 50px;
  }
}
