.bg-box {
  width: min(300px, 90%);
  height: 200px;

  background-color: $Soft-Blue;

  &--rounded-left {
    border-bottom-left-radius: 100vmax;
    border-top-left-radius: 100vmax;
  }

  &--rounded-right {
    border-bottom-right-radius: 100vmax;
    border-top-right-radius: 100vmax;
  }
}

.header {
  &_img {
    width: 112%;
    margin-left: -6%;
  }

  &_content {
    text-align: center;
  }

  &_background {
    margin-top: 50px;
  }

  .btn {
    flex-basis: 100%;
    padding-inline: 0rem;
  }
}

.cards {
  &_container {
    --direction: column;
  }
}

.card {
  width: 100%;
  padding: 3rem 1.25rem 1.25rem;
  border-radius: 15px;

  text-align: center;

  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.08);

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1.8rem 0 0.45rem;
  }

  p {
    font-size: 0.85rem;
  }

  img[src*='logo'] {
    margin-inline: auto;
  }

  img[src*='dots'] {
    width: 100%;
    margin: 2rem 0 1.35rem;
  }
}

.center-content {
  margin-inline: auto;
  max-width: 53ch;
}

.contact-us {
  --direction: column;
  --align: stretch;

  width: 100%;

  text-align: center;

  background-color: $Soft-Blue;
}

.btn {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;

  font-size: var(--btn-fs);
  font-weight: 500;
  background-color: transparent;

  cursor: pointer;

  &-primary {
    color: $white;
    background-color: $Soft-Blue;

    box-shadow: 0 5px 5px rgba($color: $Soft-Blue, $alpha: 0.2);
  }

  &-secondary {
    color: $Grayish-Blue-500;
    background-color: white;

    box-shadow: 0 5px 5px rgba($color: $Grayish-Blue, $alpha: 0.2);
  }

  &-danger {
    color: $white;
    background-color: $Soft-Red;

    box-shadow: 0 5px 5px rgba($color: $Soft-Red, $alpha: 0.2);
  }

  &-lg {
    width: 100%;
  }
}
