.main-nav {
  $white-400: rgba(
    $color: #fff,
    $alpha: 0.8,
  );
  $white-500: rgba(
    $color: #fff,
    $alpha: 0.2,
  );

  label {
    cursor: pointer;
    display: block;
    width: 18px;
    height: 15px;

    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  input[type='checkbox'] {
    display: none;

    &:checked + label + .main-nav_list {
      display: block;
      position: absolute;
      inset: 0;
      padding: 40px 30px;

      background-image: linear-gradient(
        $Very-Dark-Blue 30px,
        rgba($Very-Dark-Blue, 90%)
      );

      .flex {
        margin-bottom: 2.5rem;
      }

      svg {
        g {
          path {
            fill: #fff;
          }

          g {
            circle {
              fill: #fff;
            }
            path {
              fill: black;
            }
          }
        }
      }

      label {
        background-image: url('../images/icon-close.svg');
      }
    }
  }

  &_list {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
      width: 100%;
      padding-block: 0.9rem;
      border-bottom: 1px solid $white-500;

      &:first-child {
        border-top: 1px solid $white-500;
      }
    }
  }

  &_link {
    font-size: var(--fs-600);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-400;

    &:last-of-type {
      padding-block: 0.45rem;
      margin-top: 1.3rem;
      border: 2px solid white;
      border-radius: 5px;

      color: white;
      font-weight: 500;
    }
  }

  &_social {
    position: absolute;
    top: 93vh;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      display: inline;
      margin-inline: 1rem;
    }
  }
}
