.tablist {
  input {
    display: none;
  }
  label {
    display: block;
    text-align: center;

    font-size: var(--fs-500);
    color: $Grayish-Blue;
    font-weight: 500;

    @include block-border($Grayish-Blue-300);
  }

  .tab-pane {
    display: none;

    text-align: center;
  }

  input[id$='1']:checked {
    ~ #tab-1-pane {
      display: block;
    }
  }

  input[id$='2']:checked {
    ~ #tab-2-pane {
      display: block;
    }
  }

  input[id$='3']:checked {
    ~ #tab-3-pane {
      display: block;
    }
  }

  input:checked {
    + label {
      position: relative;

      color: $Very-Dark-Blue;

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 140px;

        border-bottom: 4px solid $Soft-Red;
      }
    }
  }
}
